<div id="wrapper" class="home">
    <div class="about-heading text-blue-300 pl-10">
        <h1 class="text-lg">About me</h1>
        <h3 class="font-bold text-black text-4xl">Get to Know Me</h3>
    </div>
    <div class="about-content-left float-left w-80 ">
        <img class="rounded-full" src="assets/Picture/avatar1.jpg" alt="avatar1">
    </div>
    <div id="about-content-right">
        <h1 class="font-bold text-black text-2xl">I'm Phạm Hồng Quân, a visual UX/UI Designer and Web Developer</h1>
        <br>
        <p class="text-xl">
            I am a freelancer based in the United Kingdom and i have been building noteworthy UX/UI designs and
            websites for years, which comply with the latest design trends. I help convert a vision and an idea
            into meaningful and useful products. Having a sharp eye for product evolution helps me prioritize tasks,
            iterate fast and deliver faster.
        </p>
        <br>
        <hr>
        <div class="content-infor">

            <div class="infor-item">
                <span class="infor-title font-bold">Name:</span>
                Phạm Hồng Quân
            </div>

            <div class="infor-item">
                <span class="infor-title font-bold">Email:</span>
                <span class="infor-email">
                    quanpham2082002@gmail.com</span>
            </div>

            <div class="infor-item">
                <span class="infor-title font-bold">Age:</span>
                21
            </div>

            <div class="infor-item">
                <span class="infor-title font-bold">From:</span>
                Nam Định
            </div>
        </div>
        <div class="group-btn mt-5">
            <button class="bg-red-500 px-7 py-6 mr-10 rounded-3xl text-white ">Dowload CV</button>
            <button class=" border-collapse border-black border-2 px-7 py-5 rounded-3xl">My Work</button>
        </div>
    </div>
</div>